/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap') ;

:root {
  --whitebg: #fff;
  --greenbg: #05f23c;
  --none: none;
  --tenTwentypadding: 10px 20px;
  --smallBorderRadius: 5px;
  --boldFonts: bold;
  --darkGreenBg: #000804;
  --center: center;
  --boxShadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --pacificoFont: "Pacifico",cursive;
  --poppinFont:'Poppins',sans-serif;
  --blueColor:rgb(24, 24, 109);
  --greyColor:#eee;
  --montseratFontFamily:'Montserrat', sans-serif;
  --blackColor:#000;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: var(--pacificoFont);

  margin: 0;
  padding: 0;

  overflow-y: auto;
  background-color:var(--greyColor);

}
.warpper{
  position: static;
  /* margin: auto; */

  padding-left: 0px;

  width: 100%;
}
.header_section{
  background-color: var(--blueColor);
  padding: 8px 0px;
  z-index: 100;
  box-shadow: var(--boxShadow);
  font-family: var(--pacificoFont);
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  color: var(--whitebg);
  
}
.header_section h5{
  padding: 10px 2px;
  font-size: 25px;

}
.header_section  button{
  /* padding: 10px; */
  border: 0px solid var(--whitebg);
  border-radius: 100%;
  margin:0px 0px 0px 0px;
  background-color: var(--blueColor);
  color: var(--whitebg);
  /* display: var(--none); */
}
.offcanvas{
  width: 18% !important;
  /* position: fixed;
  margin-top: 0px; */
  border: var(--none);

  /* z-index: 20; */

  
}
.offcanvas-header {
  background-color: var(--blueColor);
  box-shadow: var(--boxShadow);
  /* font-family: var(--pacificoFont); */
}
.offcanvas-header .offcanvas-title{
  /* background-color: var(--greenbg); */
  font-family: var(--pacificoFont);
  font-size: 20px;
  padding: 0px;
  color: var(--whitebg);
}
.offcanvas-body{
  padding: 10px;
  max-width: 100% !important;

}
 .offcanvas.always-open {
   /* transform: translateX(0); */
   /* Keeps offcanvas menu open */
   /* visibility: visible !important; */
   /* Ensures visibility */
   /* transition: none; */
   /* Removes any transition effects */
 }

 .dashboard_section{
  margin-top: 70px;
  background-color: var(--greyColor);
  padding: 10px 0px;
  font-family: var(--montseratFontFamily);
  box-shadow: var(--boxShadow);
 }
.dashboard_section .inner{
  display: flex;
  align-items: var(--center);
  padding: 2px;
  
}
.dashboard_section .inner img{
  width: 30px;
  height: 30px;
}
.dashboard_section .inner h4{
  padding: 10px;
}
.dashboard_card{
  margin-top: 10px;
  background-color: var(--greyColor);
  box-shadow: var(--boxShadow);
  padding: 20px 0px;
}
.dashboard_card .inner{
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  /* width: 240px; */
  background-color: var(--greyColor);
  border-radius: 10px;
  border: 0.1px solid var(--blueColor);
  box-shadow: var(--boxShadow);
  
}
.dashboard_card .inner .icon_group{
background-color: var(--greyColor);
border-radius: 100%;
border: 1px solid var(--blueColor);
  width: 70px;
  height: 70px;
  box-shadow: var(--boxShadow);
}
.dashboard_card .inner .icon_group img{
  width: 70px;
  height: 70px;
  padding: 10px;
}
.table_section{
  
  margin: 10px 0px;
  background-color: var(--greyColor);
  padding: 20px;
  box-shadow: var(--boxShadow);
}
table{
  box-shadow: var(--boxShadow);
  padding: 10px;
  height: auto;
    overflow: scroll;
    text-align: center;
}
table tr th{
  background-color: var(--blueColor) !important;
  color: var(--whitebg) !important;
  box-shadow: var(--boxShadow);
  
}
table tr td{
  background-color: var(--greyColor) !important;
  color: #000 !important;
}
p.green{
  background-color: var(--greenbg) !important;
  padding: 1px !important;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  color: var(--blackColor) !important;
}
 .offcanvas.show {
   background-color:var(--whitebg);
   /* Change the last value to adjust the opacity */
 }
 .navbar-nav ul li img{
  width: 30px;
 }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .offcanvas {
      width: 100% !important;
      /* position: fixed; */
      margin-top: 0px;
      /* z-index: 20; */
  
  
    }
}

/* Media query for phones (e.g., iPhone) */
@media only screen and (max-width: 767px) {
  .offcanvas {
      width: 50% !important;
      position: fixed;
      margin-top: 0px;
      /* z-index: 20; */
  
  
    }
    .header_section button {
      padding: 10px 20px;
      border: 0px;
      display:inline-block;
    }
    .offcanvas{
      visibility: visible;
    }
   
}